_template.subdomain.conf.sample
_template.subfolder.conf.sample
adguard.subdomain.conf.sample
adminer.subfolder.conf.sample
adminmongo.subdomain.conf.sample
airsonic.subdomain.conf.sample
airsonic.subfolder.conf.sample
archisteamfarm.subdomain.conf.sample
aria2-with-webui.subdomain.conf.sample
audiobookshelf.subdomain.conf.sample
audiobookshelf.subfolder.conf.sample
authelia.subdomain.conf.sample
babybuddy.subdomain.conf.sample
bazarr.subdomain.conf.sample
bazarr.subfolder.conf.sample
beets.subdomain.conf.sample
beets.subfolder.conf.sample
bitwarden.subdomain.conf.sample
bitwarden.subfolder.conf.sample
boinc.subdomain.conf.sample
boinc.subfolder.conf.sample
booksonic.subdomain.conf.sample
booksonic.subfolder.conf.sample
bookstack.subdomain.conf.sample
calibre-web.subdomain.conf.sample
calibre-web.subfolder.conf.sample
calibre.subdomain.conf.sample
calibre.subfolder.conf.sample
changedetection.subdomain.conf.sample
chevereto.subdomain.conf.sample
chronograf.subdomain.conf.sample
chronograf.subfolder.conf.sample
cloudbeaver.subdomain.conf.sample
code-server.subdomain.conf.sample
codimd.subdomain.conf.sample
collabora.subdomain.conf.sample
commento.subdomain.conf.sample
couchpotato.subdomain.conf.sample
couchpotato.subfolder.conf.sample
crontabui.subfolder.conf.sample
crowdsec-dashboard.subdomain.conf.sample
dashy.subdomain.conf.sample
deluge.subdomain.conf.sample
deluge.subfolder.conf.sample
dillinger.subdomain.conf.sample
documentserver.subdomain.conf.sample
dokuwiki.subdomain.conf.sample
dokuwiki.subfolder.conf.sample
domoticz.subdomain.conf.sample
domoticz.subfolder.conf.sample
dozzle.subdomain.conf.sample
dozzle.subfolder.conf.sample
drone.subdomain.conf.sample
duplicati.subdomain.conf.sample
duplicati.subfolder.conf.sample
emby.subdomain.conf.sample
emby.subfolder.conf.sample
embystat.subdomain.conf.sample
emulatorjs.subdomain.conf.sample
filebot.subdomain.conf.sample
filebot.subfolder.conf.sample
filebrowser.subdomain.conf.sample
filebrowser.subfolder.conf.sample
firefly.subdomain.conf.sample
firefox.subdomain.conf.sample
flexget.subdomain.conf.sample
flexget.subfolder.conf.sample
flood.subdomain.conf.sample
flood.subfolder.conf.sample
foldingathome.subdomain.conf.sample
foundryvtt.subdomain.conf.sample
freshrss.subdomain.conf.sample
freshrss.subfolder.conf.sample
gaps.subdomain.conf.sample
gaps.subfolder.conf.sample
get_iplayer.subdomain.conf.sample
ghost.subdomain.conf.sample
ghost.subfolder.conf.sample
gitea.subdomain.conf.sample
gitea.subfolder.conf.sample
glances.subdomain.conf.sample
glances.subfolder.conf.sample
gotify.subdomain.conf.sample
gotify.subfolder.conf.sample
grafana.subdomain.conf.sample
grafana.subfolder.conf.sample
grocy.subdomain.conf.sample
guacamole.subdomain.conf.sample
guacamole.subfolder.conf.sample
hass-configurator.subdomain.conf.sample
headphones.subdomain.conf.sample
headphones.subfolder.conf.sample
healthchecks.subdomain.conf.sample
hedgedoc.subdomain.conf.sample
heimdall.subdomain.conf.sample
heimdall.subfolder.conf.sample
homeassistant.subdomain.conf.sample
homebridge.subdomain.conf.sample
homer.subdomain.conf.sample
huginn.subdomain.conf.sample
influxdb.subdomain.conf.sample
jackett.subdomain.conf.sample
jackett.subfolder.conf.sample
jdownloader.subdomain.conf.sample
jellyfin.subdomain.conf.sample
jellyfin.subfolder.conf.sample
jellyseerr.subdomain.conf.sample
jenkins.subfolder.conf.sample
kanzi.subdomain.conf.sample
kanzi.subfolder.conf.sample
komga.subdomain.conf.sample
komga.subfolder.conf.sample
lazylibrarian.subdomain.conf.sample
lazylibrarian.subfolder.conf.sample
librespeed.subdomain.conf.sample
lidarr.subdomain.conf.sample
lidarr.subfolder.conf.sample
lychee.subdomain.conf.sample
lychee.subfolder.conf.sample
mailu.subdomain.conf.sample
mailu.subfolder.conf.sample
matomo.subdomain.conf.sample
mealie.subdomain.conf.sample
medusa.subdomain.conf.sample
medusa.subfolder.conf.sample
metube.subdomain.conf.sample
metube.subfolder.conf.sample
miniflux.subdomain.conf.sample
miniflux.subfolder.conf.sample
monica.subdomain.conf.sample
monica.subfolder.conf.sample
monitorr.subdomain.conf.sample
monitorr.subfolder.conf.sample
mstream.subdomain.conf.sample
mylar.subdomain.conf.sample
mylar.subfolder.conf.sample
mytinytodo.subfolder.conf.sample
n8n.subdomain.conf.sample
navidrome.subdomain.conf.sample
netboot.subdomain.conf.sample
netdata.subdomain.conf.sample
netdata.subfolder.conf.sample
nextcloud.subdomain.conf.sample
nextcloud.subfolder.conf.sample
nzbget.subdomain.conf.sample
nzbget.subfolder.conf.sample
nzbhydra.subdomain.conf.sample
nzbhydra.subfolder.conf.sample
octoprint.subdomain.conf.sample
ombi.subdomain.conf.sample
ombi.subfolder.conf.sample
openhab.subdomain.conf.sample
openvpn-as.subdomain.conf.sample
openvscode-server.subdomain.conf.sample
organizr-auth.subfolder.conf.sample
organizr.subdomain.conf.sample
organizr.subfolder.conf.sample
osticket.subdomain.conf.sample
overseerr.subdomain.conf.sample
papermerge.subdomain.conf.sample
petio.subdomain.conf.sample
petio.subfolder.conf.sample
pgadmin.subdomain.conf.sample
photoprism.subdomain.conf.sample
phpmyadmin.subdomain.conf.sample
phpmyadmin.subfolder.conf.sample
picard.subfolder.conf.sample
pihole.subdomain.conf.sample
pihole.subfolder.conf.sample
pinry.subdomain.conf.sample
piwigo.subdomain.conf.sample
pixelfed.subdomain.conf.sample
plex.subdomain.conf.sample
plex.subfolder.conf.sample
plexwebtools.subdomain.conf.sample
plexwebtools.subfolder.conf.sample
podgrab.subdomain.conf.sample
portainer.subdomain.conf.sample
portainer.subfolder.conf.sample
privatebin.subdomain.conf.sample
prometheus.subdomain.conf.sample
prowlarr.subdomain.conf.sample
prowlarr.subfolder.conf.sample
pydio-cells.subdomain.conf.sample
pydio.subdomain.conf.sample
pyload.subdomain.conf.sample
pyload.subfolder.conf.sample
qbittorrent.subdomain.conf.sample
qbittorrent.subfolder.conf.sample
quassel-web.subdomain.conf.sample
quassel-web.subfolder.conf.sample
radarr.subdomain.conf.sample
radarr.subfolder.conf.sample
raneto.subdomain.conf.sample
rclone.subfolder.conf.sample
readarr.subdomain.conf.sample
readarr.subfolder.conf.sample
recipes.subdomain.conf.sample
requestrr.subdomain.conf.sample
resilio-sync.subdomain.conf.sample
rutorrent.subdomain.conf.sample
rutorrent.subfolder.conf.sample
sabnzbd.subdomain.conf.sample
sabnzbd.subfolder.conf.sample
scope.subfolder.conf.sample
scrutiny.subdomain.conf.sample
seafile.subdomain.conf.sample
shinobi.subdomain.conf.sample
shinobi.subfolder.conf.sample
sickchill.subdomain.conf.sample
sickchill.subfolder.conf.sample
sickrage.subdomain.conf.sample
sickrage.subfolder.conf.sample
skyhook.subdomain.conf.sample
smokeping.subdomain.conf.sample
smokeping.subfolder.conf.sample
sonarr.subdomain.conf.sample
sonarr.subfolder.conf.sample
statping.subdomain.conf.sample
synapse.subdomain.conf.sample
synclounge.subdomain.conf.sample
synclounge.subfolder.conf.sample
syncthing.subdomain.conf.sample
syncthing.subfolder.conf.sample
taisun.subdomain.conf.sample
tasmobackup.subdomain.conf.sample
tautulli.subdomain.conf.sample
tautulli.subfolder.conf.sample
tdarr.subdomain.conf.sample
thelounge.subdomain.conf.sample
thelounge.subfolder.conf.sample
transmission.subdomain.conf.sample
transmission.subfolder.conf.sample
ubooquity.subdomain.conf.sample
ubooquity.subfolder.conf.sample
unifi-controller.subdomain.conf.sample
uptime-kuma.subdomain.conf.sample
vaultwarden.subdomain.conf.sample
vaultwarden.subfolder.conf.sample
wallabag.subdomain.conf.sample
webtop.subdomain.conf.sample
wordpress.subfolder.conf.sample
yacht.subdomain.conf.sample
youtube-dl-server.subdomain.conf.sample
youtube-dl.subfolder.conf.sample
znc.subdomain.conf.sample
znc.subfolder.conf.sample
zwavejs2mqtt.subdomain.conf.sample